# Игнорируем файл .env, так как он может содержать конфиденциальную информацию
.env

# Игнорируем папку node_modules, так как зависимости можно заново установить
node_modules/

# Игнорируем логи
*.log

# Игнорируем файлы, создаваемые при сборке или при тестировании
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорируем файлы IDE (например, .vscode для Visual Studio Code)
.vscode/
.idea/

# Если вы используете Mac, игнорируем системные файлы
.DS_Store
